#play-one-me-toolbar-button {
	list-style-image: url("chrome://playoneme/skin/toolbar-large.png");
}

#play-one-me-status-bar-icon {
	width: 83px;
	margin: 0 5px;
}

.play-one-me-selected {
	outline: 2px solid red !important;
}